body {
	background-color : #020a27;
	
}

body .back {
	background-color : #f2f4f4 ;
}

footer div {
    background-color: #f2f4f4 ;
    
}
footer .basdepage{
    border-top: 1px solid #020a27;
}

 footer .nav-item a {
	color: #020a27 ;
}

.list-group{
    padding: 1%;
}

footer .nav-item a:hover {
    border-bottom: 1px solid;     
    background: #020a27 ;
    color: #f2f4f4
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



.features-area {
   
    box-shadow: 1px 1px 12px #555;
    background-color: white;
    padding : 15px;
}

.single-features 
{
    text-align: center;
}



